
body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

.project-header-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1483638994033-15b73fe7af18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  }

  .project-nav{
    margin-top:0;
  }

.project-header-section {
     position: absolute;
     top: -5vh;
     left: 25vw;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  z-index: 10;
  }
  h1 {
    font-weight: 500;
  }
  h2 {
    font-weight: 400;
  }
  

  .box {
    width: 350px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
  }
  .block {
    width: 0%;
    height: inherit;
    background: var(--clr-primary);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
  }
.box .title h1 {
    font-family: "Poppins";
    color: #fff;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
    font-size: 5rem;
}
.box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: var(--clr-primary);
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
  }

  .empty-project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
  }

  .no-projects {
    margin: 2rem;
  }
  
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: var(--clr-primary);
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 8px;
      height: 8px;
      background:var(--clr-primary);
      opacity: 1;
      bottom: 35px;
    }
    65% {
      width: 7px;
      height: 7px;
      bottom: 20px;
      width: 25px;
    }
    80% {
      width: 8px;
      height: 8px;
      bottom: 28px;
    }
    100% {
      width: 7px;
      height: 7px;
      background: var(--clr-primary);
      border: 0px solid #222;
      bottom: 30px;
    }
  }

.project-section{
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.projects-wrapper{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: auto;
  margin-right: auto;

}

.filter{
  margin: 61px 20px 0px 10px;
  height: 300px;
  padding: 30px 50px;
  border-radius: 20px;
  min-height: 21.8%;

}

.project-grid-wrapper{
  padding: 60px 10px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

  gap: 3em;
}

.project-item{
  background: blue;
  width: 300px;
}

@media screen and (max-width: 900px){
  body{
    overflow-x: hidden;
  }
  .project-header-container{
    width: 870px;
  }
  .project-grid-wrapper{
    gap: 5rem;
  }
  .footer{
    width: 830px;
  }
}


@media screen and (max-width:600px){
  .project-header-container{
    width: 600px;
  }

  .project-header-section{
    top: 10vh;
    left: 10vw;
  }

  .title{
    margin-bottom: -80px;
    margin-left: 80px;
  }

  .footer{
    width: 600px;
  }
}