.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');

.section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.list-icons {
  list-style: none;
  display: flex;
}
.list-icons li a {
  margin: 0 3px;
  display: inline-block;
  color: #333;
  position: relative;
  transition: box-shadow .2s ease-out;
}
.list-icons li a:hover {
  box-shadow: 0 5px 10px -4px rgba(0, 0, 0, .2);
}

.list-icons li a i {
  /* display: inline-block; */
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  color: #FFF;
}

.list-icons li a .text-cont {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 7px);
  background-color: black;
  color: #FFF;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;
}
.list-icons li a:hover .text-cont {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
  box-shadow: 0 5px 15px -1px rgba(0, 0, 0, .2);
}

.list-icons li a .text-cont:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: black transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}



.projects-wrapper{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  gap: 3em;

}

