@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300");
.bodyDesc {
   height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mainDesc {
  max-width: 720px;
  /* margin: 5% auto; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
.cardDesc {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
}
.cardDesc .cardDesc__title {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
.cardDesc .cardDesc__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.cardDesc .cardDesc__title .iconDesc {
  flex: 1 0 10px;
  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}
.cardDesc .cardDesc__title .iconDesc > a {
  color: #fff;
}
.cardDesc .cardDesc__title .iconDesc:hover {
  background: #252525;
}
.cardDesc .cardDesc__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}
.cardDesc .cardDesc__body > .halfDesc {
  box-sizing: border-box;
  padding: 0 15px;
  flex: 1 0 50%;
}
.cardDesc .cardDesc__body .featured_textDesc h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #181e28;
}
.cardDesc .cardDesc__body .featured_textDesc p {
  margin: 0;
  padding: 0;
}
.cardDesc .cardDesc__body .featured_textDesc p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #686e77;
  font-weight: 300;
  margin-bottom: 5px;
}
.cardDesc .cardDesc__body .featured_textDesc p.priceDesc {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}
.cardDesc .cardDesc__body .imageDesc {
  padding-top: 15px;
  width: 100%;
}
.cardDesc .cardDesc__body .imageDesc img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cardDesc .cardDesc__body .descriptionDesc {
  margin-bottom: 25px;
}
.cardDesc .cardDesc__body .descriptionDesc p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}
.cardDesc .cardDesc__body span.stockDesc {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}
.cardDesc .cardDesc__body .reviewsDesc .starsDesc {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.cardDesc .cardDesc__body .reviewsDesc .starsDesc > li {
  display: inline-block;
}
.cardDesc .cardDesc__body .reviewsDesc .starsDesc > li .fa {
  color: #f7c01b;
}
.cardDesc .cardDesc__body .reviewsDesc > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}
.cardDesc .cardDesc__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}
.cardDesc .cardDesc__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #115dd8;
  background: linear-gradient(
    to right,
    #115dd8 0%,
    #115dd8 20%,
    #ddd 20%,
    #ddd 100%
  );
}
.cardDesc .cardDesc__footer .recommendDesc {
  flex: 1 0 10px;
}
.cardDesc .cardDesc__footer .recommendDesc p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}
.cardDesc .cardDesc__footer .recommendDesc h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}
.actionDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.actionDesc button {
  margin: 5px;
  margin-top: 15px;
}
.cardDesc .cardDesc__footer .actionDesc button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
  font-weight: 800;
}
.cardDesc .cardDesc__footer .actionDesc button:hover {
  background: #fff;
  color: #115dd8;
}
.ownerDesc {
  border-radius: 50%;
  width: 50px;
}
.repolinkDesc {
  color: #115dd8;
  text-decoration: underline;
}
.tagsDesc {
  width: 100px;
  height: 45px;
  margin: 5px;
  float: left;
  border: 2px solid #4654ec;
  box-sizing: border-box;
  border-radius: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
}
