.arch {
    background-color: hsl(235, 81%, 60%);
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 0.1875rem;
    padding: 1rem 1.75rem;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    margin: 0rem 2rem;
}

.arch:hover {
        opacity: 0.8;
        background-color: transparent;
        color: var(--clr-primary);
        border-color: currentColor;
}

.arch_iv {
    display: flex;
    align-items: center;
    justify-content: center;
}